{% extends "blog/layout.html" %}
{% block content %}
 <body class=" Wrapper-HomePage Wrapper-FullWidth">                    
                    
                    
<div id="HomePageContent" class="HomePageFullWidthArea" data-label="Home Content">	
<div ID="WTZone4_Page1" class="WTZone ">
<div id="ste_container_ciFullWidthContent" class="ContentItemContainer">
<div id="ste_container_HomeSlideshow" class="ContentItemContainer">
<div class="panel ">
<div id="ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow__Head" class="panel-heading">

</div>
<div id="ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow__BodyContainer" class="panel-body-container">
<div id="ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow__Body" class="panel-body">
<div id="ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_Carousel" class="carousel slide" data-ride="carousel" translate="yes" data-interval="0"> 
                
                
    <!-- Indicators -->    
    <ol class="carousel-indicators"><li data-target="#ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_Carousel" data-slide-to="0" class="active"></li><li data-target="#ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_Carousel" data-slide-to="1"></li><li data-target="#ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_Carousel" data-slide-to="2"></li><li data-target="#ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_Carousel" data-slide-to="3"></li></ol>
    <!-- Slides -->
    <div class="carousel-inner bg-img" role="listbox">
        
        
        
        
        
        
        
        
<div class="item active" style="height:400px;background-image:url(https://www.professionalengineers.org.au/images/engineers/maincovid.png);">
<a class="carousel-link" href="https://www.professionalengineers.org.au/PA/Latest_News/Australia_s_COVID-19_roll-out.aspx">
<div class="carousel-caption">
    <h1>COVID-19 roll-out</h1>
<br />
<br />
<p>PA supports the roll-out of safe and effective vaccinations to keep our community safe</p>
<br />
                                      
<span class="PrimaryButton">Read More</span></div></a>
</div>
        
        
        
        
        
<div class="item" style="height:400px;background-image:url(https://www.professionalengineers.org.au/images/engineers/ictmainbanner.png);">
<a class="carousel-link" href="#"><div class="carousel-caption">
<h1>ICT Employment report</h1>
<br />
<br />
                    
                    
<p>This report gives you exclusive insight into your industry with detailed information on what you are worth based on your current skill-set.</p>
<br />
<span class="PrimaryButton">Download the report</span>
</div>
</a>
</div>
        
        
        
        
        
        
<div class="item" style="height:400px;background-image:url(https://www.professionalengineers.org.au/images/engineers/mainengremreport.png);">
<a class="carousel-link" href="#">
<div class="carousel-caption">
    <h1>Employment report</h1>
<br />
<br />
                    
                    
<p>Report out now! Download a copy of the summary 20/21 Employment and Remuneration Report.</p>
<br />
<span class="PrimaryButton">Find out More</span></div></a>
        
</div>
        
        
        
<div class="item" style="height:400px;background-image:url(https://www.professionalengineers.org.au/images/engineers/MainEngRegbanner.png);">
<a class="carousel-link" href="#"><div class="carousel-caption">
    <h1>Engineering registration</h1>
<br />
<br />  
    
<p>Becoming a member of the Association of Professional Engineers Australia entitles you to free registration in your first month.</p>
<br />                   
<span class="PrimaryButton">Find out more</span></div></a>
</div> 
        
        
        
        
        
</div>
                
                
    <!-- Controls -->
<div id="ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_SlideshowControls">
				
<a class="left carousel-control" href="index.html#ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_Carousel" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
    
    
    
<a class="right carousel-control" href="index.html#ctl01_ciFullWidthContent_ContentRecordTemplateArea_HomeSlideshow_Carousel" role="button" data-slide="next">
<span class="icon-next" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
    
</div>
                
                
</div>
</div>
</div>
</div>
<div>
</div>
</div>
                    
                    
                    
                    
                    
<div class="ContentRecordPageButtonPanel">

</div> 	 
<div>
</div>
</div>
</div>             
</div>
<div class="InternalHeaderArea" data-label="Internal Header">
<div ID="WTZone5_Page1" class="WTZone ">
<div id="ste_container_ciInternalFullWidthHeader" class="ContentItemContainer">
 	 
<div>
</div>
</div>
</div>
</div>
</header>
            
            
            
            
<div id="masterContentArea" class="container ClearFix">
<div role="main" class="body-container" id="ContentPanel">
<div data-label="On Behalf Of" class="ClearFix OnBehalfOfContainer">
<div ID="WTZone6_Page1" class="WTZone ">
<div id="ste_container_ciOBO" class="ContentItemContainer">
<div class="FloatRight">
                    

                    
<div id="ctl01_ciOBO_UtilityPlaceholder" class="UtilityNavigation nav-auxiliary">
<div class="UtilitySection OnBehalfOf">
</div>
</div>
                    
                    
<div>
</div>
</div>
</div>

                
</div>
</div>
<div class="col-primary" data-label="Main Content">
<div ID="WTZone7_Page1" class="WTZone ">
<a id="contentstart" tabindex="-1"></a>
<div id="masterMainBreadcrumb" role="navigation">
</div>
<div id="ctl01_UserMessagesUpdatePanel">
</div>
		
                                    
                                    
                                    
                                    
<script type="text/javascript">

</script>
	
<div id="ctl01_TemplateBody_WebPartManager1___Drag" style="display:none;position:absolute;z-index:32000;filter:alpha(opacity=75);">
</div>
<div>
<div>
<div class="container-inner">
<div class="row">
<div class="col-sm-12">
<div class="ContentItemContainer">
<div id="WebPartZone1_Page1" class="WebPartZone no-height">
<div class="iMIS-WebPart">
<div id="ste_container_ciNewContentHtml21_0265c7792823445ebf43ff22123ffe49" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml21_0265c7792823445ebf43ff22123ffe49_ciNewContentHtml21_0265c7792823445ebf43ff22123ffe49_Panel_NewContentHtml21">
                    
                    
                    
	<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.BlockTLImage span').html(function() {
            return jQuery(this).html().replace(jQuery(this).text(), "<img src='https://www.professionalengineers.org.au/&quot;+&#32;jQuery(this).text()&#32;+&quot;' height='80' width='115' />");
        });
    });
</script>
                    
                    
                    
                    
</div>
<div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>	

    
    
    
    
<div class="FullWidthArea-StyleBg1">
<div class="container-inner">
<div class="row">
<div class="col-sm-4">
<div class="ContentItemContainer">
<div id="WebPartZone2_Page1" class="WebPartZone ">
<div class="iMIS-WebPart">
<div id="ste_container_ciSpotlight_cd6fef81724c44d08a0f773eca65df90" class="ContentItemContainer">
<div id="ctl01_TemplateBody_WebPartManager1_gwpciSpotlight_cd6fef81724c44d08a0f773eca65df90_ciSpotlight_cd6fef81724c44d08a0f773eca65df90_Panel_Spotlight">
    
	<a href="#">
        <img alt="Who we are" src="https://www.professionalengineers.org.au/images/engineers/engineers-home-who-we-are.jpg" /><br />
    </a>
                                  
                    
            
                    
                    
<div class="highlight-center">
<h2><a href="{% url 'blog-about' %}">Who we are</a></h2>
{% for a in about %}

<p>{{ a.content }}.</p>


{% endfor %}

<br />
<a href="{% url 'blog-about' %}" class="PrimaryButton">Find out more</a>
</div>
                    
                    
                    
                    
</div>
<div>
</div>
</div>
</div>
</div>
</div>
</div>
				
                
                
<div class="col-sm-4">
<div class="ContentItemContainer">
<div id="WebPartZone3_Page1" class="WebPartZone ">
<div class="iMIS-WebPart">
<div id="ste_container_ciSpotlight2_538f7ef7ae064977bd5f36842e6a9ce9" class="ContentItemContainer">
<div id="ctl01_TemplateBody_WebPartManager1_gwpciSpotlight2_538f7ef7ae064977bd5f36842e6a9ce9_ciSpotlight2_538f7ef7ae064977bd5f36842e6a9ce9_Panel_Spotlight2">
    
    
	<a href="#">
        
        <img alt="What we do" src="https://www.professionalengineers.org.au/images/science/psa-home-what-we-do.jpg" /><br />
        
    </a>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
<div class="highlight-center">
<h2><a href="{% url 'blog-wedo' %}">What we do</a></h2>

{% for a in wedo %}             
<p> {{ a.content }}</p>
{% endfor %}
<br />
<a href="{% url 'blog-wedo' %}" class="PrimaryButton">Find out more</a>
</div>
                    
                    
                    
                    
                    
                    
</div>
<div>
</div>
</div>
</div>
</div>
		
</div>

</div>
    
    
    
    
<div class="col-sm-4">
<div class="ContentItemContainer">
<div id="WebPartZone4_Page1" class="WebPartZone ">

<div class="iMIS-WebPart">
<div id="ste_container_ciSpotlight3_c783df76775142149a75afeaa2b710e5" class="ContentItemContainer">
    
<div id="ctl01_TemplateBody_WebPartManager1_gwpciSpotlight3_c783df76775142149a75afeaa2b710e5_ciSpotlight3_c783df76775142149a75afeaa2b710e5_Panel_Spotlight3">
    
    <a href="#">
        <img alt="Join now" src="https://www.professionalengineers.org.au/images/engineers/engineers-home-join-now.jpg" /><br />
    </a>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
<div class="highlight-center">
<h2><a href="#">Join now</a></h2>
<p>Our team is dedicated to providing the services and advice you need to get ahead in your profession and build an amazing career.</p>
<br />
    
    
    
<a href="#" class="PrimaryButton">Find out more</a>
</div>
</div>
    
    
    
    
    
<div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
	
    
    
    
<div class="FullWidthArea-StyleBg2">
<div class="container-inner">
<div class="row">
<div class="col-sm-6">
<div class="ContentItemContainer">
<div id="WebPartZone5_Page1" class="WebPartZone ">
</div>
</div>
</div>
                
                
                
                
                
                
                
<div class="col-sm-6">
<div class="ContentItemContainer">
<div id="WebPartZone6_Page1" class="WebPartZone ">
<div class="iMIS-WebPart">
<div id="ste_container_ciNewContentHtml2_b013977ff5a8456e9e1b1070c2636e77" class="ContentItemContainer">
<div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml2_b013977ff5a8456e9e1b1070c2636e77_ciNewContentHtml2_b01">
<div class="panel-overlay">
        
        
        
        
        
        
        
<h2>About Us</h2>      
        
{% for b in about %}        
<p class="blue-text">{{ b.content }}.</p>
{% endfor %}   
    
    
    
    
    
</div>
</div>    
<div>
</div>
</div>    
</div>
</div>		
</div>
</div>
                
                
                
                
                
                
                
                
                
</div>
</div>
</div>
    
    
    
    
    
    
    
    

<div class="FullWidthArea-StyleBg3">
<div class="container-inner">
<div class="row">
                
                
     



                
                
                
                
               
                
                
                
                
                
                
                
                
<div class="col-sm-4">
<div class="ContentItemContainer">
<div id="WebPartZone8_Page1" class="WebPartZone ">
<div class="iMIS-WebPart">
<div id="ste_container_cinewsarticle2" class="ContentItemContainer">
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_ListTitle" class="panel " style="border-style:None;">
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_ListTitle_Head" class="panel-heading">


    
</div>
    
    
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_ListTitle_BodyContainer" class="panel-body-container">
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_ListTitle_Body" class="panel-body">
<div class="TaggedListPanel">
        

    

    
   
    
    
    
 
    
    
    
    
    
    
            
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/apea/news/Eng_PayIncrease.png</span> </div>
<div class="BlockTLText">
    
<h4> 
<a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_TaggedListRepeater_ctl01_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Shared_Content/MemberDashboards/Content/Urgent_Message_to_Professionals_Australia_members_on_IR_Bill_before_the_Senate.aspx">Urgent Message to Professionals Australia members on IR Bill before the Senate</a>
</h4>
    
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>16/03/2021</span></span>
</div>
</div>
    
    
    
    
{% for post in posts %}          
<div class="BlockTLItem">
<div class="BlockTLText">
    
<h4>
<a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_TaggedListRepeater_ctl02_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Engineers/News/Evolving_Transport_causing_Safety_Concerns.aspx">{{ post.content }}</a> </h4>
    
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>{{ post.date_posted|date:"F d, Y" }}</span></span> </div>
</div>
{% endfor %}   
    
    
            
<!--  <div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/engineers/Skills.png</span> </div>
<div class="BlockTLText">
<h4> 
    
<a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_TaggedListRepeater_ctl03_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Engineers/News/Greater_Sydney_ET_reforms.aspx">Greater Sydney ET reforms</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>3/03/2021</span></span> 
</div>
</div>
      -->
    
    
    
    
    
    
    
    
    
    
            
<div translate="yes">
				
     <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle2_cinewsarticle2_TaggedListRepeater_ctl04_ViewAllButton" href="javascript:__doPostBack(&#39;ctl01$TemplateBody$WebPartManager1$gwpcinewsarticle2$cinewsarticle2$TaggedListRepeater$ctl04$ViewAllButton&#39;,&#39;&#39;)" style="margin-left: 20px;"></a>
                
</div>
    
    
    
    
    
</div>
</div>
</div>
</div>
<div>

</div>
</div>
</div>
</div>
</div>
</div>
				
    
    
    



    
    
    
    
<!--     
<div class="col-sm-4">
<div class="ContentItemContainer">
<div id="WebPartZone9_Page1" class="WebPartZone ">
<div class="iMIS-WebPart">
<div id="ste_container_cinewsarticle3" class="ContentItemContainer">
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_ListTitle" class="panel " style="border-style:None;">
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_ListTitle_Head" class="panel-heading">

	
    
</div>
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_ListTitle_BodyContainer" class="panel-body-container">
<div id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_ListTitle_Body" class="panel-body">
<div class="TaggedListPanel">
        

    
    
    
    
    
    
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/pa/IR _reform.png</span> </div>
<div class="BlockTLText">
<h4>
    <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl00_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/PA/Latest_News/Workers_succeed_in_blocking_worst_aspects_of_IR_reforms.aspx">Workers succeed in blocking worst aspects of IR reforms</a> 
</h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>19/03/2021</span></span> </div>
</div>
    
    
    
    
    
    
            
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/apea/news/Eng_PayIncrease.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl01_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Shared_Content/MemberDashboards/Content/Urgent_Message_to_Professionals_Australia_members_on_IR_Bill_before_the_Senate.aspx">Urgent Message to Professionals Australia members on IR Bill before the Senate</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>16/03/2021</span></span> </div>
</div>
    
    
            
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/engineers/NSWTrains.png</span> </div>
                    
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl02_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Engineers/News/Evolving_Transport_causing_Safety_Concerns.aspx">Evolving Transport causing Safety Concerns</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>3/03/2021</span></span>
</div>
</div>
            
                
    
    
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/engineers/Skills.png</span> </div>
<div class="BlockTLText">
<h4>
    <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl03_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Engineers/News/Greater_Sydney_ET_reforms.aspx">Greater Sydney ET reforms</a>  </h4>
<div class="tags"><span></span> 
</div>
<span class="PublishDate">Posted on:<span>3/03/2021</span></span>
    
</div>
</div>
    
    
    
    
            
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/engineers/ACT.png</span> </div>
    
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl04_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Engineers/News/APS_Senate_inquiry.aspx">APS Senate inquiry</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>2/03/2021</span></span>
    
</div>
</div>
    
    
    
    
            
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/engineers/EngReg.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl05_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Engineers/News/Engineer_Registration_in_the_ACT.aspx">Engineer Registration in the ACT</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>2/03/2021</span></span> 
    
</div>
</div>
    
    
    
    
            
<div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/interpreters/covid.png</span> </div>
    
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl06_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/PA/Latest_News/Australia_s_COVID-19_roll-out.aspx">Australia’s COVID-19 roll-out</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>2/03/2021</span></span>
</div>
</div>
    
    
    
    
            
<div translate="yes">
				
    <a id="ctl01_TemplateBody_WebPartManager1_gwpcinewsarticle3_cinewsarticle3_TaggedListRepeater_ctl07_ViewAllButton" href="javascript:__doPostBack(&#39;ctl01$TemplateBody$WebPartManager1$gwpcinewsarticle3$cinewsarticle3$TaggedListRepeater$ctl07$ViewAllButton&#39;,&#39;&#39;)" style="margin-left: 20px;"></a>
                
</div>
</div>
</div>
</div>
</div>
<div>

</div>
</div>
</div>
</div>
</div>
</div>
 -->



</div>
</div>
</div>
</div>	


    
 <!--    
                                    
<div class="ContentRecordPageButtonPanel">

</div>
</div>
</div>

  
            
            
            
            
            
            
<div data-label="Secondary Navigation" class="col-secondary cs-right">
<div ID="WTZone8_Page1" class="WTZone ">
</div>
</div>
            
   
            
            
            
            
</div>
</div>
<a class="backToTop" href="index.html#PageTop">Back to Top</a>

            
            
            
            
            
            
            
<footer id="ft" class="footer ClearFix">
<div class="footer-content">
<div class="container" data-label="Footer 1">
<div ID="WTZone9_Page1" class="WTZone ">
<div id="ste_container_ciFooterContent1" class="ContentItemContainer">
    
    
    
    
<div id="ste_container_FooterCommunications" class="ContentItemContainer">
<div>
</div>
    
       
<div class="row">
<div class="footer-content-section footer-promo-container">
<span>© 2019 Professional Engineers Australia. All Rights Reserved.</span>
</div>
<div class="footer-content-section footer-social">
<div class="promo">
<span>Contact Us</span><img class="footer-icon" alt="call us on 1300273762" src="https://www.professionalengineers.org.au/images/global/footer-phone-icon.jpg" /><span>1300 273 762</span>
<a href="mailto:info@ProfessionalsAustralia.org.au" title="Email us">
<img class="footer-icon" alt="Mail icon" src="https://www.professionalengineers.org.au/images/global/footer-mail-icon.jpg" /></a>
<a href="https://facebook.com/AssociationofProfessionalEngineersAus" title="Visit our Facebook page" target="_blank">
<img class="footer-icon" alt="Facebook icon" src="https://www.professionalengineers.org.au/images/global/footer-facebook-icon.jpg" /></a>
</div>
</div>
</div>
</div>
    
    
    
<div class="ContentRecordPageButtonPanel">

</div> 	 
<div>
</div>
</div>
</div>
</div>
</div>
    
    
    
    
    
    
<div class="footer-nav-copyright">
<div class="container" role="navigation">
<div class="footer-copyright" data-label= "Footer 2">
<div ID="WTZone10_Page1" class="WTZone ">
<div id="ste_container_ciFooterContent2" class="ContentItemContainer">
<div id="ste_container_FooterCopyright" class="ContentItemContainer">
<div>
</div>
</div>
<div class="ContentRecordPageButtonPanel">
</div> 	 
<div>
</div>
</div>
</div>
</div>
</div>
</div>
    
    
	
</footer>
</div>	

        
        
        
<div id="fb-root"></div>
 -->

</body>
{% endblock content %}
</html>