{% extends "blog/layout.html" %}
{% block content %}






















                <div id="HomePageContent" class="HomePageFullWidthArea" data-label="Home Content">	
							<div ID="WTZone4_Page1" class="WTZone ">
				<div id="ste_container_ciFullWidthContent" class="ContentItemContainer">

 	 
<div>

</div></div>
					</div>

                </div>
                <div class="InternalHeaderArea" data-label="Internal Header">
                         				<div ID="WTZone5_Page1" class="WTZone ">
				<div id="ste_container_ciInternalFullWidthHeader" class="ContentItemContainer">

<div id="ste_container_HomeSlideshow" class="ContentItemContainer"><div class="panel ">
	<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__Head" class="panel-heading">

	</div><div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__BodyContainer" class="panel-body-container">
		<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__Body" class="panel-body">
			<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow_Carousel" class="carousel slide" data-ride="carousel" translate="yes" data-interval="0">    
    <!-- Indicators -->    
    
    <!-- Slides -->
    <div class="carousel-inner bg-img" role="listbox">
        <div class="item active" style="height:400px;background-image:url(https://www.professionalengineers.org.au/images/samplesites/member/mobile2.jpg);">
				<a class="carousel-link" href="https://www.professionalengineers.org.au/iparts/Common/Slideshow/#"><div class="carousel-caption"><h1>Example Title 4</h1>
<br />
<br />
<p>San vitae leo ac mi fringilla aliquam ac vitae libero. Integer sodales non augue in cursus. Cras viverra enim ut dui convallis pretium. Sed vitae justo sit amet n</p>
<br />
<span class="PrimaryButton">Find out More</span></div></a>
			</div>    
    </div>
    <!-- Controls -->
    
</div>
		</div>
	</div>
</div><div>

</div></div><div class="ContentRecordPageButtonPanel">

</div> 	 
<div>

</div></div>
					</div>

                </div>
      </header>
      <div id="masterContentArea" class="container ClearFix">
		<div role="main" class="body-container" id="ContentPanel">
			<div data-label="On Behalf Of" class="ClearFix OnBehalfOfContainer">
								<div ID="WTZone6_Page1" class="WTZone ">
				<div id="ste_container_ciOBO" class="ContentItemContainer"><div class="FloatRight"><div id="ctl01_ciOBO_UtilityPlaceholder" class="UtilityNavigation nav-auxiliary">
	<div class="UtilitySection OnBehalfOf">

	</div>
</div>

     <div>

</div></div></div>
					</div>

			</div>
			<div class="col-primary" data-label="Main Content">
								<div ID="WTZone7_Page1" class="WTZone ">
		<a id="contentstart" tabindex="-1"></a>
		<div id="masterMainBreadcrumb" role="navigation">
		
		</div>
		<div id="ctl01_UserMessagesUpdatePanel">
					
			
</div>
		
<script type="text/javascript">

</script>
	<div id="ctl01_TemplateBody_WebPartManager1___Drag" style="display:none;position:absolute;z-index:32000;filter:alpha(opacity=75);">

</div>
<div>
	<div>
		<div class="container-inner">
			<div class="row">
				<div class="col-sm-12">
								<div class="ContentItemContainer">
				<div id="WebPartZone1_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml2_a300ed42bc964ca6923b8f8ebfde7b90" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml2_a300ed42bc964ca6923b8f8ebfde7b90_ciNewContentHtml2_a300ed42bc964ca6923b8f8ebfde7b90_Panel_NewContentHtml2">
	<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.BlockTLImage span').html(function() {
            return jQuery(this).html().replace(jQuery(this).text(), "<img src='https://www.professionalengineers.org.au/Engineers/Join_now/Engineers/Join_APEA/&quot;+&#32;jQuery(this).text()&#32;+&quot;' height='80' width='115' />");
        });
    });
</script>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

				</div>
			</div>
		</div>
	</div>
	<div class="full-width-bg">
		<div class="container-inner">
			<div class="row">
				<div class="col-sm-12">
								<div class="ContentItemContainer">
				<div id="WebPartZone2_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml3_c3dd21077b004a5b8bd7190af7a18100" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml3_c3dd21077b004a5b8bd7190af7a18100_ciNewContentHtml3_c3dd21077b004a5b8bd7190af7a18100_Panel_NewContentHtml3">
	<div class="banner-background" style="background: #fff url(https://www.professionalengineers.org.au/images/engineers/engineers-generic-join.jpg);">
<div class="constrict-container">
<div class="carousel-caption">
<h1>Join APEA</h1>
</div>
</div>
</div>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

				</div>
			</div>
		</div>
	</div>
	<div class="container-inner">
		<div class="row">
			<div class="col-sm-12">
							<div class="ContentItemContainer">
				<div id="WebPartZone3_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml_f8493f68b91b45c79103123d71092ad6" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml_f8493f68b91b45c79103123d71092ad6_ciNewContentHtml_f8493f68b91b45c79103123d71092ad6_Panel_NewContentHtml">
	<h2>Become a Professional Engineers member</h2>
</div><div>

</div></div>
			</div>
				<div class="iMIS-WebPart">
					<div id="ste_container_ciNewContentHtml4_1cc2e9eeb6924ba7a37808ffef39f5b0" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml4_1cc2e9eeb6924ba7a37808ffef39f5b0_ciNewContentHtml4_1cc2e9eeb6924ba7a37808ffef39f5b0_Panel_NewContentHtml4">
	<p>Our network of 25,000 Australian professionals are working together for a better future for all our members.</p>
</div><div>

</div></div>






	

    


































{% endblock content %}