{% extends "blog/layout.html" %}
{% block content %}


                <div id="HomePageContent" class="HomePageFullWidthArea" data-label="Home Content">	
							<div ID="WTZone4_Page1" class="WTZone ">
				<div id="ste_container_ciFullWidthContent" class="ContentItemContainer">

 	 
<div>

</div></div>
					</div>

                </div>
                <div class="InternalHeaderArea" data-label="Internal Header">
                         				<div ID="WTZone5_Page1" class="WTZone ">
				<div id="ste_container_ciInternalFullWidthHeader" class="ContentItemContainer">

<div id="ste_container_HomeSlideshow" class="ContentItemContainer"><div class="panel ">
	<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__Head" class="panel-heading">

	</div><div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__BodyContainer" class="panel-body-container">
		<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__Body" class="panel-body">
			<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow_Carousel" class="carousel slide" data-ride="carousel" translate="yes" data-interval="0">    
    <!-- Indicators -->    
    
    <!-- Slides -->
    <div class="carousel-inner bg-img" role="listbox">
        <div class="item active" style="height:400px;background-image:url(https://www.professionalengineers.org.au/images/samplesites/member/mobile2.jpg);">
				<a class="carousel-link" href="https://www.professionalengineers.org.au/iparts/Common/Slideshow/#"><div class="carousel-caption"><h1>Example Title 4</h1>
<br />
<br />
<p>San vitae leo ac mi fringilla aliquam ac vitae libero. Integer sodales non augue in cursus. Cras viverra enim ut dui convallis pretium. Sed vitae justo sit amet n</p>
<br />
<span class="PrimaryButton">Find out More</span></div></a>
			</div>    
    </div>
    <!-- Controls -->
    
</div>
		</div>
	</div>
</div><div>

</div></div><div class="ContentRecordPageButtonPanel">

</div> 	 
<div>

</div></div>
					</div>

                </div>
      </header>
      <div id="masterContentArea" class="container ClearFix">
		<div role="main" class="body-container" id="ContentPanel">
			<div data-label="On Behalf Of" class="ClearFix OnBehalfOfContainer">
								<div ID="WTZone6_Page1" class="WTZone ">
				<div id="ste_container_ciOBO" class="ContentItemContainer"><div class="FloatRight"><div id="ctl01_ciOBO_UtilityPlaceholder" class="UtilityNavigation nav-auxiliary">
	<div class="UtilitySection OnBehalfOf">

	</div>
</div>

     <div>

</div></div></div>
					</div>

			</div>
			<div class="col-primary" data-label="Main Content">
								<div ID="WTZone7_Page1" class="WTZone ">
		<a id="contentstart" tabindex="-1"></a>
		<div id="masterMainBreadcrumb" role="navigation">
		
		</div>
		<div id="ctl01_UserMessagesUpdatePanel">
					
			
</div>
		
<script type="text/javascript">

</script>
	<div id="ctl01_TemplateBody_WebPartManager1___Drag" style="display:none;position:absolute;z-index:32000;filter:alpha(opacity=75);">

</div>
<div>
	<div>
		<div class="container-inner">
			<div class="row">
				<div class="col-sm-12">
								<div class="ContentItemContainer">
				<div id="WebPartZone1_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml5_c67cc85373c8472ab6f4d5337c279a45" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml5_c67cc85373c8472ab6f4d5337c279a45_ciNewContentHtml5_c67cc85373c8472ab6f4d5337c279a45_Panel_NewContentHtml5">
	<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.BlockTLImage span').html(function() {
            return jQuery(this).html().replace(jQuery(this).text(), "<img src='https://www.professionalengineers.org.au/Engineers/Who_we_are/Who_we_are/Engineers/Content/&quot;+&#32;jQuery(this).text()&#32;+&quot;' height='80' width='115' />");
        });
    });
</script>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

				</div>
			</div>
		</div>
	</div>
	<div class="full-width-bg">
		<div class="container-inner">
			<div class="row">
				<div class="col-sm-12">
								<div class="ContentItemContainer">
				<div id="WebPartZone2_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml_761524a097e341f5949faa742d2b02ba" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml_761524a097e341f5949faa742d2b02ba_ciNewContentHtml_761524a097e341f5949faa742d2b02ba_Panel_NewContentHtml">
	<div class="banner-background" style="background: #fff url(https://www.professionalengineers.org.au/images/engineers/engineers-generic-who-we-are.jpg);">
<div class="constrict-container">
<div class="carousel-caption">
<h1>Who We Are</h1>
</div>
</div>
</div>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

				</div>
			</div>
		</div>
	</div>
	<div class="container-inner">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
									<div class="ContentItemContainer">
				<div id="WebPartZone3_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml2_771348cf5cdc4eac85ba54ab08ea4c49" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml2_771348cf5cdc4eac85ba54ab08ea4c49_ciNewContentHtml2_771348cf5cdc4eac85ba54ab08ea4c49_Panel_NewContentHtml2">
	<h2>Who we are</h2>

{% for a in about %}


{{ a.content }}.

{% endfor %}












<h2>Our vision</h2>
<br />
We work on behalf of our members to win the professional recognition, respect and rewards that they deserve.
<br />
<br />
<h2>Our commitment</h2>
<br />
APEA is committed to:
<br />
<br />
<ul>
    <li>providing the highest standard of workplace advice and support to our members;</li>
    <li>delivering access to high quality continued professional development and industry-approved accreditation programs; </li>
    <li>advocating on behalf of engineers so that they are heard by government and industry; and</li>
    <li>building upon the successes of past campaigns to continue negotiating improved salaries and conditions for the sector. </li>
</ul>
<br />
<img alt="who we are" src="https://www.professionalengineers.org.au/images/engineers/engineers-who-we-are.jpg" />
<br />
<br />
<h2>Our story</h2>
<br />
The Association of Professional Engineers Australia (APEA) has a long and successful legacy of making sure the profession of engineering is treated fairly and with respect in Australia.
<br />
<br />
Formed in 1946, we are the founding organisation for what is now known as <a href="http://www.professionalsaustralia.org.au/"><span style="color: #42c4e4;">Professionals Australia</span></a> – a not for profit member organisation representing 25,000 members from more than twenty professions, including science, IT, translators and interpreters, pharmacy, and architecture.
<br />
<br />
APEA’s expansion to what it is today has been built on a foundation of significant successes for its members. In 1961, APEA won a massive 40% pay increase for engineers and paved the way for a series of awards for other professionals.
<br />
<br />
In 2013 – after three amalgamations, three name changes and 67 years of growth and development – <a href="http://www.professionalsaustralia.org.au/"><span style="color: #42c4e4;">Professionals Australia</span></a> was born. However, our commitment to protecting and supporting the rights of engineers Australia-wide has stayed the same as those early days of 1946.
<br />
<br />
So, when you <a href="https://www.professionalengineers.org.au/Engineers/Join_APEA/APEA_Signup.aspx"><span style="color: #42c4e4;">join APEA</span></a>, you also become part of Professional Australia’s massive membership network and extensive range of member services and benefits.
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
									<div class="ContentItemContainer">
				<div id="WebPartZone4_Page1" class="WebPartZone ">

		</div>
	
			</div>

					</div>
					<div class="col-sm-6">
									<div class="ContentItemContainer">
				<div id="WebPartZone5_Page1" class="WebPartZone ">

		</div>
	
			</div>

					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-12">
									<div class="ContentItemContainer">
				<div id="WebPartZone6_Page1" class="WebPartZone grey-bg-box text-center">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml6_86e7b097321d47cca86cab032edc1ef0" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml6_86e7b097321d47cca86cab032edc1ef0_ciNewContentHtml6_86e7b097321d47cca86cab032edc1ef0_Panel_NewContentHtml6">
	<img alt="Join Now" src="https://www.professionalengineers.org.au/images/engineers/engineers-join-now-icon.png" />
<br />
<br />





















<h2>Become a Member of APEA</h2>
<br />
<p class="text-center">We are a strong network of 25,000 professionals who work together for a better deal for all our members.</p>
<br />
<a href="" class="PrimaryButton">Join Now</a>
</div><div>







</div></div>
			</div>
			</div>
		
			</div>

					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
									<div class="ContentItemContainer">
				<div id="WebPartZone7_Page1" class="WebPartZone card-shadow side-bar-panel">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml7_2b15611b02db46bab186c5aea060ebbb" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml7_2b15611b02db46bab186c5aea060ebbb_ciNewContentHtml7_2b15611b02db46bab186c5aea060ebbb_Panel_NewContentHtml7">
	<h5>Latest Blog Posts</h5>





































</div><div>

</div></div>
			</div>
				<div class="iMIS-WebPart">
					<div id="ste_container_ciNewContentTaggedList" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_ListTitle" class="panel " style="border-style:None;">
	<div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_ListTitle_Head" class="panel-heading">

	</div><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_ListTitle_BodyContainer" class="panel-body-container">
		<div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_ListTitle_Body" class="panel-body">
			
    <div class="TaggedListPanel">
        
                <div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/pa/annualleave.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_TaggedListRepeater_ctl00_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/PA/Latest_News/Pandemic_Leave_and_leave_at_Half_Pay_for_Award_Employees.aspx">Pandemic Leave and leave at Half Pay for Award Employees</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>31/03/2021</span></span> </div>
</div>
            
                <div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/pa/IR _reform.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_TaggedListRepeater_ctl01_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/PA/Latest_News/Workers_succeed_in_blocking_worst_aspects_of_IR_reforms.aspx">Workers succeed in blocking worst aspects of IR reforms</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>19/03/2021</span></span> </div>
</div>
            
                <div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/apea/news/Eng_PayIncrease.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_TaggedListRepeater_ctl02_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Shared_Content/MemberDashboards/Content/Urgent_Message_to_Professionals_Australia_members_on_IR_Bill_before_the_Senate.aspx">Urgent Message to Professionals Australia members on IR Bill before the Senate</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>16/03/2021</span></span> </div>
</div>
            
                <div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/pa/IWDEvent.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_TaggedListRepeater_ctl03_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/Shared_Content/MemberDashboards/Content/International_Womens_Day.aspx">International Women's Day</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>12/03/2021</span></span> </div>
</div>
            
                <div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/pa/vaccine.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_TaggedListRepeater_ctl04_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/PA/Latest_News/Can_my_employer_force_me_to_get_the_COVID-19_vaccine.aspx">Can my employer force me to get the COVID-19 vaccine?</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>11/03/2021</span></span> </div>
</div>
            
                <div class="BlockTLItem">
<div class="BlockTLImage"><span>/images/engineers/PaAviation.png</span> </div>
<div class="BlockTLText">
<h4> <a id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_TaggedListRepeater_ctl05_ctl00_BusinessHyperLink1" href="https://www.professionalengineers.org.au/APEA/Latest_News/PA_appearance_at_Senate_Inquiry.aspx">PA appearance at Senate Inquiry</a>  </h4>
<div class="tags"><span></span> </div>
<span class="PublishDate">Posted on:<span>4/03/2021</span></span> </div>
</div>
            
                <div translate="yes">
				
                    
                    
                    <a id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentTaggedList_ciNewContentTaggedList_TaggedListRepeater_ctl06_ViewAllButton" class="DisplayNone" href="javascript:__doPostBack(&#39;ctl01$TemplateBody$WebPartManager1$gwpciNewContentTaggedList$ciNewContentTaggedList$TaggedListRepeater$ctl06$ViewAllButton&#39;,&#39;&#39;)" style="margin-left: 20px;">View all</a>
                
			</div>
            
    </div>

		</div>
	</div>
</div><div>

</div></div>
				</div>
				</div>
			
			</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>	


{% endblock content %}