{% extends "blog/layout.html" %}
{% block content %}
   
<div id="HomePageContent" class="HomePageFullWidthArea" data-label="Home Content">	
							<div ID="WTZone4_Page1" class="WTZone ">
				<div id="ste_container_ciFullWidthContent" class="ContentItemContainer">

 	 
<div>

</div></div>
					</div>

                </div>
                <div class="InternalHeaderArea" data-label="Internal Header">
                         				<div ID="WTZone5_Page1" class="WTZone ">
				<div id="ste_container_ciInternalFullWidthHeader" class="ContentItemContainer">

<div id="ste_container_HomeSlideshow" class="ContentItemContainer"><div class="panel ">
	<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__Head" class="panel-heading">

	</div><div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__BodyContainer" class="panel-body-container">
		<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow__Body" class="panel-body">
			<div id="ctl01_ciInternalFullWidthHeader_ContentRecordTemplateArea_HomeSlideshow_Carousel" class="carousel slide" data-ride="carousel" translate="yes" data-interval="0">    
    <!-- Indicators -->    
    
    <!-- Slides -->
    <div class="carousel-inner bg-img" role="listbox">
        <div class="item active" style="height:400px;background-image:url(https://www.professionalengineers.org.au/images/samplesites/member/mobile2.jpg);">
				<a class="carousel-link" href="https://www.professionalengineers.org.au/iparts/Common/Slideshow/#"><div class="carousel-caption"><h1>Example Title 4</h1>
<br />
<br />
<p>San vitae leo ac mi fringilla aliquam ac vitae libero. Integer sodales non augue in cursus. Cras viverra enim ut dui convallis pretium. Sed vitae justo sit amet n</p>
<br />
<span class="PrimaryButton">Find out More</span></div></a>
			</div>    
    </div>
    <!-- Controls -->
    
</div>
		</div>
	</div>
</div><div>

</div></div><div class="ContentRecordPageButtonPanel">

</div> 	 
<div>

</div></div>
					</div>

                </div>
      </header>
      <div id="masterContentArea" class="container ClearFix">
		<div role="main" class="body-container" id="ContentPanel">
			<div data-label="On Behalf Of" class="ClearFix OnBehalfOfContainer">
								<div ID="WTZone6_Page1" class="WTZone ">
				<div id="ste_container_ciOBO" class="ContentItemContainer"><div class="FloatRight"><div id="ctl01_ciOBO_UtilityPlaceholder" class="UtilityNavigation nav-auxiliary">
	<div class="UtilitySection OnBehalfOf">

	</div>
</div>

     <div>

</div></div></div>
					</div>

			</div>
			<div class="col-primary" data-label="Main Content">
								<div ID="WTZone7_Page1" class="WTZone ">
		<a id="contentstart" tabindex="-1"></a>
		<div id="masterMainBreadcrumb" role="navigation">
		
		</div>
		<div id="ctl01_UserMessagesUpdatePanel">
					
			
</div>
		
<script type="text/javascript">

</script>
	<div id="ctl01_TemplateBody_WebPartManager1___Drag" style="display:none;position:absolute;z-index:32000;filter:alpha(opacity=75);">

</div>
<div>
	<div>
		<div class="container-inner">
			<div class="row">
				<div class="col-sm-12">
								<div class="ContentItemContainer">
				<div id="WebPartZone1_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml5_c67cc85373c8472ab6f4d5337c279a45" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml5_c67cc85373c8472ab6f4d5337c279a45_ciNewContentHtml5_c67cc85373c8472ab6f4d5337c279a45_Panel_NewContentHtml5">
	<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.BlockTLImage span').html(function() {
            return jQuery(this).html().replace(jQuery(this).text(), "<img src='https://www.professionalengineers.org.au/Engineers/What_we_do/Our_Services/Engineers/Content/&quot;+&#32;jQuery(this).text()&#32;+&quot;' height='80' width='115' />");
        });
    });
</script>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

				</div>
			</div>
		</div>
	</div>
	<div class="full-width-bg">
		<div class="container-inner">
			<div class="row">
				<div class="col-sm-12">
								<div class="ContentItemContainer">
				<div id="WebPartZone2_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml_761524a097e341f5949faa742d2b02ba" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml_761524a097e341f5949faa742d2b02ba_ciNewContentHtml_761524a097e341f5949faa742d2b02ba_Panel_NewContentHtml">
	<div class="banner-background" style="background: #fff url(https://www.professionalengineers.org.au/images/Engineers/engineers-generic-what-we-do.jpg);">
<div class="constrict-container">
<div class="carousel-caption">
<h1>What we do</h1>
</div>
</div>
</div>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

				</div>
			</div>
		</div>
	</div>
	<div class="container-inner">
		<div class="row">
			<div class="col-sm-12">
							<div class="ContentItemContainer">
				<div id="WebPartZone3_Page1" class="WebPartZone ">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml2_771348cf5cdc4eac85ba54ab08ea4c49" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml2_771348cf5cdc4eac85ba54ab08ea4c49_ciNewContentHtml2_771348cf5cdc4eac85ba54ab08ea4c49_Panel_NewContentHtml2">
	Being a member of the Association of Professional Engineers Australia (APEA) gives you access to expert advice at every stage of your career, as well as the benefits of being part of a wider network of professionals. Our team is available to resolve all kinds of workplace issues and concerns, whether they be legal, financial or otherwise.
<br />
<br />
As a division of <a href="http://www.professionalsaustralia.org.au/"><span style="color: #42c4e4;">Professionals Australia</span></a>, APEA is able to provide a broad range of membership services. These include:
<br />
<br />
<ul>
    <li>Access to industry-recognised professional engineer <a href="https://www.rpeng.org.au/RPENG"><span style="color: #42c4e4;">accreditation programs</span></a> established by APEA.</li>
    <li>access to <a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Workplace.aspx"><span style="color: #42c4e4;">legal representation and advice; </span></a></li>
    <li>advice on <a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Pay.aspx"><span style="color: #42c4e4;">salary;</span></a></li>
    <li><a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Insurance.aspx"><span style="color: #42c4e4;">professional insurance;</span></a></li>
    <li><a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Career.aspx"><span style="color: #42c4e4;">recruitment and resume services;</span></a></li>
    <li><a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Career.aspx"><span style="color: #42c4e4;">continuing professional development</span></a> to meet your required milestones;</li>
    <li>the latest news; and</li>
    <li>the opportunity to take part in campaigns to promote better working conditions.</li>
</ul>
<br />
<h2>Here’s how we can help</h2>
<br />
When you contact us for help or advice, the Association of Professional Engineers Australia (APEA) guarantees absolute confidentiality at every stage of the process. This means that you will be consulted on any action we propose on your behalf and approaches to other individuals or organisations will not be made without your approval.
<br />
<br />




<h2>Our services</h2>
<br />
We are committed to:<br />
<br />
<ul>
    <li>providing the highest standard of workplace advice and support to our members;</li>
    <li>advocating on behalf of scientists so that they are heard by government and industry; and</li>
    <li>uniting the collective voice of our members to negotiate for improved salaries and conditions.</li>
</ul>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

			</div>
		</div>
	</div>
	<div class="container-inner">
		<div class="row">
			<div class="col-sm-4">
							<div class="ContentItemContainer">
				<div id="WebPartZone4_Page1" class="WebPartZone card-shadow">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciCopyofNewContentHtml3_9018256250a34e46b06725b1984964a2" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciCopyofNewContentHtml3_9018256250a34e46b06725b1984964a2_ciCopyofNewContentHtml3_9018256250a34e46b06725b1984964a2_Panel_CopyofNewContentHtml3">
	<img alt="My workplace" class="full-width-image" src="https://www.professionalengineers.org.au/images/global/global-what-we-do-panel-2.jpg" />
<h5>My workplace</h5>
<p>We have a team of lawyers and industrial officers available to help with workplace disputes, contract reviews and information about your rights and conditions. Our experts will ensure that all APEA members are, at the very least, being paid and treated as they should be under the law.
</p>
<br />
<a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Workplace.aspx" class="PrimaryButton">Learn more</a>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

			</div>
			<div class="col-sm-4">
							<div class="ContentItemContainer">
				<div id="WebPartZone5_Page1" class="WebPartZone card-shadow">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciCopyofCopyofNewContentHtml3_8aae22e59f4147f581c6c434878cceab" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciCopyofCopyofNewContentHtml3_8aae22e59f4147f581c6c434878cceab_ciCopyofCopyofNewContentHtml3_8aae22e59f4147f581c6c434878cceab_Panel_CopyofCopyofNewContentHtml3">
	<img alt="My career" class="full-width-image" src="https://www.professionalengineers.org.au/images/global/global-what-we-do-panel-3.jpg" />
<h5>My career</h5>
<p>Association of Professional Engineers Australia (APEA) can help you get ahead in your career with our range of continuing professional development courses, accreditation programs and career services.
</p>
<br />
<br />
<a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Career.aspx" class="PrimaryButton">Learn more</a>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

			</div>
			<div class="col-sm-4">
							<div class="ContentItemContainer">
				<div id="WebPartZone6_Page1" class="WebPartZone card-shadow side-bar-panel">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciCopyofCopyofCopyofNewContentHtml3_b2254a2ff0944e1e9522c2b152b4f606" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciCopyofCopyofCopyofNewContentHtml3_b2254a2ff0944e1e9522c2b152b4f606_ciCopyofCopyofCopyofNewContentHtml3_b2254a2ff0944e1e9522c2b152b4f606_Panel_CopyofCopyofCopyofNewContentHtml3">
	<img alt="My insurance" class="full-width-image" src="https://www.professionalengineers.org.au/images/engineers/engineers-what-we-do-panel-4.jpg" />
<h5>My insurance</h5>
<p>Insurance is just another way APEA helps keep you protected. Members are also eligible for a range of discounts.
</p>
<br />
<br />
<br />
<br />
<a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Insurance.aspx" class="PrimaryButton">Learn more</a>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

			</div>
		</div>
	</div>
	<div class="container-inner">
		<div class="row">
			<div class="col-sm-4">
							<div class="ContentItemContainer">
				<div id="WebPartZone7_Page1" class="WebPartZone card-shadow">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciCopyofCopyofCopyofCopyofNewContentHtml3_ed1c345293534c8b9ff7166dd9e9e039" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciCopyofCopyofCopyofCopyofNewContentHtml3_ed1c345293534c8b9ff7166dd9e9e039_ciCopyofCopyofCopyofCopyofNewContentHtml3_ed1c345293534c8b9ff7166dd9e9e039_Panel_CopyofCopyofCopyofCopyofNewContentHtml3">
	<img alt="My pay" class="full-width-image" src="https://www.professionalengineers.org.au/images/global/global-what-we-do-panel-5.jpg" />
<h5>My pay</h5>
Find out what you're worth with APEA’s remuneration information. Browse our range of remuneration reports, salary calculators or get your own personalised comparison.
<p>&nbsp;</p>
<br />
<a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Pay.aspx" class="PrimaryButton">Learn more</a>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

			</div>
			<div class="col-sm-4">
							<div class="ContentItemContainer">
				<div id="WebPartZone8_Page1" class="WebPartZone card-shadow">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciCopyofCopyofCopyofCopyofCopyofNewContentHtml3_0d3edc03e2a742368dadcef6bd81b6e9" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciCopyofCopyofCopyofCopyofCopyofNewContentHtml3_0d3edc03e2a742368dadcef6bd81b6e9_ciCopyofCopyofCopyofCopyofCopyofNewContentHtml3_0d3edc03e2a742368dadcef6bd81b6e9_Panel_CopyofCopyofCopyofCopyofCopyofNewContentHtml3">
	<img alt="My industry" class="full-width-image" src="https://www.professionalengineers.org.au/images/global/global-what-we-do-panel-6.jpg" />
<h5>My industry</h5>
<p>Access detailed information about your industry and profession, including industry reports, management insight, submissions and webinars.
</p>
<br />
<br />
<br />
<a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Industry.aspx" class="PrimaryButton">Find out more</a>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

			</div>
			<div class="col-sm-4">
							<div class="ContentItemContainer">
				<div id="WebPartZone9_Page1" class="WebPartZone card-shadow">

			<div class="iMIS-WebPart">
				<div id="ste_container_ciNewContentHtml9_e5d68d49892047689c00a3aff2a0d32b" class="ContentItemContainer"><div id="ctl01_TemplateBody_WebPartManager1_gwpciNewContentHtml9_e5d68d49892047689c00a3aff2a0d32b_ciNewContentHtml9_e5d68d49892047689c00a3aff2a0d32b_Panel_NewContentHtml9">
	<img alt="Rewards" class="full-width-image" src="https://www.professionalengineers.org.au/images/global/My-Rewards.jpg" />
<h5>My Rewards</h5>
<p>Take advantage of our extensive rewards and savings, with member-only discounts on groceries, fuel, cinema and consumer goods at some of Australia’s largest retailers.
</p>
<br />
<br />
<a href="https://www.professionalengineers.org.au/Engineers/Content/Services_Content/Rewards.aspx" class="PrimaryButton">Learn more</a>
</div><div>

</div></div>
			</div>
			</div>
		
			</div>

			</div>
		</div>
	</div>
</div>	


    
{% endblock content %}